<h1>Count your words</h1>

<p>We have two options here for you</p>
<ul>
  <li>You can check how many times you inputed the same word in one sentence</li>
  <li>You can check detect partial words in your sentence</li>
</ul>

<div class="container">
  <form action="/counts">
    <div class="form-group">
       <label for="sentence">Enter here the sentence you want to check:</label>
       <input id="sentence" name="sentence" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="word">Enter here the word you want to check for:</label>
      <input id="word" name="word" class="form-control" type="text">
   </div>
    <button type="submit" class="btn">Go!</button>
  </form>

  <div class="count_display">
      <h5><%= @sentence %> <br/>
      <%= @count %><%= @word %></h5>
  </div>
</div>

<div class="container">
  <form action="/partial_count">
    <div class="form-group">
       <label for="phrase">Enter here the sentence you want to check:</label>
       <input id="phrase" name="phrase" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="partial">Enter here the word you want to check for:</label>
      <input id="partial" name="partial" class="form-control" type="text">
   </div>
    <button type="submit" class="btn">Go!</button>
  </form>

  <div class="partial_display">
      <h5><%= @phrase %> <br/>
      <%= @count_partial %><%= @partial %></h5>
  </div>
</div>
